<html>
    <body>
        <form action="#" th:action="@{/}" th:object="${personForm}" method="post">

            <table>
                <tr>
                    <td><input type="text" th:field="*{a11}" /></td>
                    <td><input type="text" th:field="*{a12}" /></td>
                    <td><input type="text" th:field="*{a13}" /></td>
                    <td>    </td>
                    <td><input type="text" th:field="*{b1}" /></td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{a21}" /></td>
                    <td><input type="text" th:field="*{a22}" /></td>
                    <td><input type="text" th:field="*{a23}" /></td>
                    <td>    </td>
                    <td><input type="text" th:field="*{b2}" /></td>
                </tr>
                <tr>
                    <td><input type="text" th:field="*{a31}" /></td>
                    <td><input type="text" th:field="*{a32}" /></td>
                    <td><input type="text" th:field="*{a33}" /></td>
                    <td>    </td>
                    <td><input type="text" th:field="*{b3}" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>
